*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    color: $light-blue-color;
}

input,
button,
textarea {
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: none;
    line-height: 1;
}

button {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}