$main-font: 'DM Sans', sans-serif;

$dark-blue-color: #02073E;
$light-blue-color: #0F2137;
$orange-color: #FF753A;
$dark-orange-color: #EF9E48;
$light-orange-color: #FCF2E8;
$dark-gray-color: #343D48;
$light-gray-color: #5D646D;
$mid-gray-color: #B5C3CB;
$pink-color: #FA578E;
$purple-color: #E682FF;
$green-color: #3FDBB1;
$yellow-color: #FFCE1F;

$gradient1: linear-gradient(106.43deg, #E0F5FA -1.4%, #FFFDE6 100.87%);
$gradient2: linear-gradient(106.43deg, rgba(255, 253, 230, 0.35) -1.4%, rgba(255, 253, 230, 0.07) -1.39%, rgba(224, 239, 250, 0.35) 100.87%);
$gradient3: linear-gradient(180deg, #EBF9FF 0%, #F6F6FF 100%);