.footer_wrapper {
    @include grid-cols(4, 1fr, 30px);

    h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.5px;
    }

    ul {
        margin-top: 28px;
        display: grid;
        gap: 20px;

        a {
            color: $dark-blue-color;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }
}