#hero {
    min-height: 100vh;
    color: $dark-blue-color;
    position: relative;
    padding-top: 120px;

    &::before {
        content: '';
        background: $gradient1;
        position: absolute;
        width: 1100px;
        height: 100%;
        top: 0;
        left: 0;

    }
}

.hero_wrapper {
    position: relative;
    @include grid-cols(2, 1fr, 50px);
    place-items: center;

    .ratings {

        .star {
            svg {
                color: $dark-blue-color;

                &:last-child {
                    color: $mid-gray-color;
                }
            }
        }

        span {
            &:last-child {
                font-weight: 400;
                font-size: 15px;
                line-height: 30px;
            }
        }
    }

    h1 {
        font-weight: 700;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: -2px;
        @include margin-y(10px, 30px);
        position: relative;

        &::after {
            content: '';
            background-image: url(../../../../public/images/frame.svg);
            width: 50%;
            height: 10%;
            display: block;
            position: absolute;
            bottom: -13px;
            right: 85px;
        }
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
    }

    form {
        .input_box {
            display: inline-block;
            width: 520px;
            height: 60px;
            background: #FFFFFF;
            box-shadow: 0px 10px 50px rgba(48, 98, 145, 0.08);
            border-radius: 8px;
            @include margin-y(30px, 30px);
            @include padding-x(20px, 20px);

            input {
                @include dimension(90%, 100%);
            }

            span {
                cursor: pointer;
                font-size: 20px;
                color: $light-gray-color;
            }
        }
    }

    .video_wrapper {
        width: 400px;
        height: 550px;
        position: relative;
        border-radius: 5px;

        &::after {
            content: '';
            background-image: url(../../../../public/images/pattern.svg);
            width: 50%;
            height: 50%;
            display: block;
            position: absolute;
            top: -30px;
            right: -80px;
            z-index: -1;
            pointer-events: none;
        }

        &::before {
            content: '';
            border: 1px solid $dark-orange-color;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 35px;
            right: -30px;
            pointer-events: none;
            z-index: -1;
        }

        .play_icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        video {
            @include img-fit;
        }
    }
}