#ready {
    text-align: center;

    div {
        width: 800px;

        h1 {
            font-weight: 700;
            font-size: 50px;
            line-height: 65px;
            text-align: center;
            letter-spacing: -2px;
            margin-bottom: 40px;
        }
    }
}